* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.main {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: blanchedalmond;

  .goods-list {
    display: flex;
    flex-wrap: wrap;

    .goods-item {
      margin: 5px 16px;
    }
  }

  .bottom {
    height: 2px;
    border-bottom: 3px solid red;
  }
}
